#pagina10, #pagina11, #pagina12 {
  font-family: Arial;
}
#pagina10 h1, #pagina10 header p span, #pagina11 h1, #pagina11 header p span, #pagina12 h1, #pagina12 header p span {
  color: red;
}

#pagina15 {
  background-color: red;
}

#pagina10 #search-grid-container, #pagina11 #search-grid-container, #pagina12 #search-grid-container {
  display: grid;
  border: 1px solid #D5D5D5;
  width: 600px;
  height: 200px;
  margin-bottom: 20px;
}
#pagina10 #search-grid-container div input[type=text], #pagina11 #search-grid-container div input[type=text], #pagina12 #search-grid-container div input[type=text] {
  width: 560px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #D5D5D5;
}
#pagina10 #search-grid-container div input[type=button], #pagina11 #search-grid-container div input[type=button], #pagina12 #search-grid-container div input[type=button] {
  background-color: red;
  color: white;
  width: 130px;
  height: 30px;
  border-radius: 6px;
  border: none;
}
#pagina10 #search-grid-container div:first-child, #pagina11 #search-grid-container div:first-child, #pagina12 #search-grid-container div:first-child {
  border: 1px solid grey;
  font-weight: bold;
  background-color: #D5D5D5;
}
#pagina10 #search-grid-container div, #pagina11 #search-grid-container div, #pagina12 #search-grid-container div {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#pagina10 #maintenance-grid-container {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-areas: "head head head head head head" "title1 title2 title3 title4 title5 title6" "item1 item2 item3 item4 item5 item6" "item7 item8 item9 item10 item11 item12" "item13 item14 item15 item16 item17 item18" "item19 item20 item21 item22 item23 item24" "item25 item26 item27 item28 item29 item30" "foot foot foot foot foot foot";
  grid-template-columns: auto auto auto auto auto 3.5%;
}
#pagina10 #maintenance-grid-container div {
  border: 1px solid grey;
  padding: 8px;
}
#pagina10 #maintenance-grid-container #head {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: head;
}
#pagina10 #maintenance-grid-container #foot {
  grid-area: foot;
  background-color: #D5D5D5;
  text-align: center;
}
#pagina10 #maintenance-grid-container #title0 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title0;
}
#pagina10 #maintenance-grid-container #title1 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title1;
}
#pagina10 #maintenance-grid-container #title2 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title2;
}
#pagina10 #maintenance-grid-container #title3 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title3;
}
#pagina10 #maintenance-grid-container #title4 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title4;
}
#pagina10 #maintenance-grid-container #title5 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title5;
}
#pagina10 #maintenance-grid-container #title6 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title6;
}
#pagina10 #maintenance-grid-container #item0 {
  grid-area: item0;
}
#pagina10 #maintenance-grid-container #item1 {
  grid-area: item1;
}
#pagina10 #maintenance-grid-container #item2 {
  grid-area: item2;
}
#pagina10 #maintenance-grid-container #item3 {
  grid-area: item3;
}
#pagina10 #maintenance-grid-container #item4 {
  grid-area: item4;
}
#pagina10 #maintenance-grid-container #item5 {
  grid-area: item5;
}
#pagina10 #maintenance-grid-container #item6 {
  grid-area: item6;
}
#pagina10 #maintenance-grid-container #item7 {
  grid-area: item7;
}
#pagina10 #maintenance-grid-container #item8 {
  grid-area: item8;
}
#pagina10 #maintenance-grid-container #item9 {
  grid-area: item9;
}
#pagina10 #maintenance-grid-container #item10 {
  grid-area: item10;
}
#pagina10 #maintenance-grid-container #item11 {
  grid-area: item11;
}
#pagina10 #maintenance-grid-container #item12 {
  grid-area: item12;
}
#pagina10 #maintenance-grid-container #item13 {
  grid-area: item13;
}
#pagina10 #maintenance-grid-container #item14 {
  grid-area: item14;
}
#pagina10 #maintenance-grid-container #item15 {
  grid-area: item15;
}
#pagina10 #maintenance-grid-container #item16 {
  grid-area: item16;
}
#pagina10 #maintenance-grid-container #item17 {
  grid-area: item17;
}
#pagina10 #maintenance-grid-container #item18 {
  grid-area: item18;
}
#pagina10 #maintenance-grid-container #item19 {
  grid-area: item19;
}
#pagina10 #maintenance-grid-container #item20 {
  grid-area: item20;
}
#pagina10 #maintenance-grid-container #item21 {
  grid-area: item21;
}
#pagina10 #maintenance-grid-container #item22 {
  grid-area: item22;
}
#pagina10 #maintenance-grid-container #item23 {
  grid-area: item23;
}
#pagina10 #maintenance-grid-container #item24 {
  grid-area: item24;
}
#pagina10 #maintenance-grid-container #item25 {
  grid-area: item25;
}
#pagina10 #maintenance-grid-container #item26 {
  grid-area: item26;
}
#pagina10 #maintenance-grid-container #item27 {
  grid-area: item27;
}
#pagina10 #maintenance-grid-container #item28 {
  grid-area: item28;
}
#pagina10 #maintenance-grid-container #item29 {
  grid-area: item29;
}
#pagina10 #maintenance-grid-container span {
  font-weight: bold;
  padding: 5px;
}
#pagina10 #maintenance-grid-container .even {
  background-color: #FFE4DC;
}

.fa-video, .fa-music {
  margin-left: 10px;
}

#pagina11 #maintenance-grid-container {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-areas: "head head head head head head" "title1 title2 title3 title4 title5 title6" "item1 item2 item3 item4 item5 item6" "item7 item8 item9 item10 item11 item12" "foot foot foot foot foot foot";
  grid-template-columns: auto auto auto auto auto 3.5%;
}
#pagina11 #maintenance-grid-container div {
  border: 1px solid grey;
  padding: 8px;
}
#pagina11 #maintenance-grid-container #head {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: head;
}
#pagina11 #maintenance-grid-container #foot {
  grid-area: foot;
  background-color: #D5D5D5;
  text-align: center;
}
#pagina11 #maintenance-grid-container #title0 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title0;
}
#pagina11 #maintenance-grid-container #title1 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title1;
}
#pagina11 #maintenance-grid-container #title2 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title2;
}
#pagina11 #maintenance-grid-container #title3 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title3;
}
#pagina11 #maintenance-grid-container #title4 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title4;
}
#pagina11 #maintenance-grid-container #title5 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title5;
}
#pagina11 #maintenance-grid-container #title6 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title6;
}
#pagina11 #maintenance-grid-container #item0 {
  grid-area: item0;
}
#pagina11 #maintenance-grid-container #item1 {
  grid-area: item1;
}
#pagina11 #maintenance-grid-container #item2 {
  grid-area: item2;
}
#pagina11 #maintenance-grid-container #item3 {
  grid-area: item3;
}
#pagina11 #maintenance-grid-container #item4 {
  grid-area: item4;
}
#pagina11 #maintenance-grid-container #item5 {
  grid-area: item5;
}
#pagina11 #maintenance-grid-container #item6 {
  grid-area: item6;
}
#pagina11 #maintenance-grid-container #item7 {
  grid-area: item7;
}
#pagina11 #maintenance-grid-container #item8 {
  grid-area: item8;
}
#pagina11 #maintenance-grid-container #item9 {
  grid-area: item9;
}
#pagina11 #maintenance-grid-container #item10 {
  grid-area: item10;
}
#pagina11 #maintenance-grid-container #item11 {
  grid-area: item11;
}
#pagina11 #maintenance-grid-container #item12 {
  grid-area: item12;
}
#pagina11 #maintenance-grid-container span {
  font-weight: bold;
  padding: 5px;
}
#pagina11 #maintenance-grid-container .even {
  background-color: #FFE4DC;
}

#pagina12 #maintenance-grid-container {
  display: grid;
  width: 100%;
  height: 200px;
  grid-template-areas: "head head head head head head head" "title1 title2 title3 title4 title5 title6 title7" "item1 item2 item3 item4 item5 item6 item7" "item8 item9 item10 item11 item12 item13 item14" "foot foot foot foot foot foot foot";
  grid-template-columns: auto auto auto auto auto auto 3.5%;
}
#pagina12 #maintenance-grid-container div {
  border: 1px solid grey;
  padding: 8px;
}
#pagina12 #maintenance-grid-container #head {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: head;
}
#pagina12 #maintenance-grid-container #foot {
  grid-area: foot;
  background-color: #D5D5D5;
  text-align: center;
}
#pagina12 #maintenance-grid-container #title0 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title0;
}
#pagina12 #maintenance-grid-container #title1 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title1;
}
#pagina12 #maintenance-grid-container #title2 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title2;
}
#pagina12 #maintenance-grid-container #title3 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title3;
}
#pagina12 #maintenance-grid-container #title4 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title4;
}
#pagina12 #maintenance-grid-container #title5 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title5;
}
#pagina12 #maintenance-grid-container #title6 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title6;
}
#pagina12 #maintenance-grid-container #title7 {
  background-color: #D5D5D5;
  font-weight: bold;
  text-align: center;
  grid-area: title7;
}
#pagina12 #maintenance-grid-container #item0 {
  grid-area: item0;
}
#pagina12 #maintenance-grid-container #item1 {
  grid-area: item1;
}
#pagina12 #maintenance-grid-container #item2 {
  grid-area: item2;
}
#pagina12 #maintenance-grid-container #item3 {
  grid-area: item3;
}
#pagina12 #maintenance-grid-container #item4 {
  grid-area: item4;
}
#pagina12 #maintenance-grid-container #item5 {
  grid-area: item5;
}
#pagina12 #maintenance-grid-container #item6 {
  grid-area: item6;
}
#pagina12 #maintenance-grid-container #item7 {
  grid-area: item7;
}
#pagina12 #maintenance-grid-container #item8 {
  grid-area: item8;
}
#pagina12 #maintenance-grid-container #item9 {
  grid-area: item9;
}
#pagina12 #maintenance-grid-container #item10 {
  grid-area: item10;
}
#pagina12 #maintenance-grid-container #item11 {
  grid-area: item11;
}
#pagina12 #maintenance-grid-container #item12 {
  grid-area: item12;
}
#pagina12 #maintenance-grid-container #item13 {
  grid-area: item13;
}
#pagina12 #maintenance-grid-container #item14 {
  grid-area: item14;
}
#pagina12 #maintenance-grid-container span {
  font-weight: bold;
  padding: 5px;
}
#pagina12 #maintenance-grid-container .even {
  background-color: #FFE4DC;
}

/*# sourceMappingURL=sandras.css.map */
