/*css ordenado alfabéticamente*/

.pagina10 .pagina11, .pagina12{
    /*tipo de fuente y tamaño de toda la página*/
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;  
}
.pagina10 .col, .pagina11 .col, .pagina12 .col{
    /*altura de las columnas*/
    height: 70px;  
}
.pagina10 .row:nth-child(even), .pagina11 .row:nth-child(even), .pagina12 .row:nth-child(even){
    /*colores pares de la tabla en color salmón*/
    background-color: #FFE4DC;
}
.pagina10 select, .pagina11 select, .pagina12 select{
    /*tamaño y márgen derecho del select*/
    width: 70px;
    height: 40px;
}
.pagina10 .texto, .pagina11 .texto,.pagina12 .texto{
    /*cuando disminuye el tamaño de la tabla, el texto de cada columna, se corta y se apila*/
    padding:.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-width: 40%;
}




