/*css ordenado alfabéticamente*/

.pagina10{
    /*tipo de fuente y tamaño de toda la página*/
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.pagina10 .administration-table{
    /*márgenes de la tabla de mantenimiento de usuarios*/
    margin: 0px 20px 0px 27px;
}
.pagina10 button{
    /*altura y margen de los botones del footer de la tabla de mantenimiento de usuarios*/
    height: auto;
    margin: 5px;
}
.pagina10 .card{
    /*separación entre la tabla de búsqueda de usuario y la tabla de mantenimiento y margen izquierdo con el navegador*/
    margin: 20px 0px 20px 0px;
} 
.pagina10 .col{
    /*altura de las columnas*/
    height: 50px;
}
.pagina10 header{
    /*márgenes del header*/
    margin: 3%;
}
.pagina10 .row:nth-child(even){
    /*colores pares de la tabla en color salmón*/
    background-color: #FFE4DC;
}
.pagina10 select{
    /*tamaño y márgen derecho del select*/
    width: 70px;
    height: 40px;
    margin-right: 5px;
}






