.pagina10{
    /*fuente de toda la página*/
    font-family: Arial, Helvetica, sans-serif;
}
.pagina10 select{
    /*tamaño del select*/
    width: 6% !important;
    /*display para el select, por defecto es display inline*/
    display:inline-block !important;
    height: 35px;
}
 .pagina10 .card{
    /*separación entre la tabla de búsqueda de usuario y la tabla de mantenimiento y margen izquierdo con el navegador*/
    margin: 20px 0px 20px 0px;
} 
.pagina10 header{
    /*márgenes del header*/
    margin: 3%;
}
.pagina10 .row:nth-child(even){
    background-color: #FFE4DC;
}
.pagina10 button{
    height: 30px;
}
.pagina10 .col{
    height: 50px;
    align-items: center;
}
.pagina10 .title{
    font-size: 20px;
}



